<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}{{ site.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% if page.title != "Archive (sidebar)" %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endif %}
    <link href='http://fonts.googleapis.com/css?family=Poly:400,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="screen, projection" href="{{site.url}}/res/screen.css" type="text/css">
    <link rel="stylesheet" media="print" href="{{site.url}}/res/print.css" type="text/css">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{site.owner.twitter}}">

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}">
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    <meta name="og:description" content="{{ page.description }}">
    {% else if content %}
    <meta name="description" content="{{ content | strip_html | truncatewords: 25 }}">
    <meta name="og:description" content="{{ content | strip_html | truncatewords: 25 }}">
    {% endif %}
    {% else %}
    <meta name="description" content="{{site.description}}">
    {% endif %}

    <meta property="og:url" content="{{site.url}}/{{ page.url | remove_first:'index.html' }}">
    <meta property="og:site_name" content="{{site.title}}">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="en_GB" />
    {% if page.date %}
    <meta property="article:published_time" content="{{ page.date | date: "%Y-%m-%d" }}">
    {% endif %}
    <!-- Add custom CSS here -->
    <link href="{{site.url}}/assets/css/font-awesome.min.css" rel="stylesheet">        
</head>